/*---
layout: master.hbs
title: 2019 Brew Oahu Homebrew Competition
description: Official Homepage of the HIP Fermenters Brew Oahu Homebrew Competition.
hideHome: true
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
---*/

<section class="hero" data-position="101">
  <div class="component-wrapper
            hero-component--wrapper-fitcontent">
    <div class="bg sib hero-component--fixed-background"
         style="background-image: url('images/background.jpg');
                background-position: 0 34.21%;"></div>
    <div class="hero-component--content">
      <div class="h-font h1">
        The 3rd Annual Brew Oahu Homebrew Competition is coming this November!
      </div>
      <p class="welcome-text">
        <a href="https://www.facebook.com/events/445236016099159/" target="_blank">Join us</a> on Saturday, November 2nd, for "Oahu Brew Camp," a free event where in addition to <strong>announcing the winners of the competition</strong>, we will be holding an all day (noon-5pm) brewing demonstration, a chili cook off (enter your own or come vote for your favorite), a Q&A session with a professional brewer, and presentations from some of our club members. See the <a href="http://event.brewoahu.com/">event page</a> for more info.
      </p>
      <a href="http://registration.brewoahu.com/">
        <img src="/images/poster.jpg" width="816" height="1153" alt="Brew Oahu Homebrew Competition. Deadline October 19th. Awards November 2nd." />
      </a>
    </div>
  </div>
</section>
