/*---
layout: master.hbs
title: 2019 Brew Oahu Homebrew Competition
description: Official Homepage of the HIP Fermenters Brew Oahu Homebrew Competition.
---*/

<section class="hero" data-position="101">
  <div class="component-wrapper
            hero-component--wrapper-fitcontent">
    <div class="bg sib  hero-component--fixed-background"
         style="background-image: url('images/background.jpeg');
                background-position: 0 34.21%;"></div>
    <div class="hero-component--content">
      <div class="h-font h1">
        <div style="text-align: center;"><span style="font-weight: 700; color: rgb(255, 255, 255);">The 3rd Annual Brew Oahu Homebrew Competition is coming this November!</span>
        </div>
      </div>
      <a href="http://registration.brewoahu.com/">
        <img src="/images/poster.jpg" width="816" height="1153" alt="Brew Oahu Homebrew Competition. Deadline October 19th. Awards November 2nd." />
      </a>
    </div>
  </div>
</section>
<section id="location" class="map" data-position="109">
  <div class="map-component--component-wrapper component-wrapper">
    <div class="map-component--inner">
      <div class="map-iframe-wrapper">
        <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJG4-kc2RuAHwRleHoDCmral4&key={{environment.googleMapsApiKey}}" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
