<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/style/index.html.css" rel="stylesheet" type="text/css">
  <link href="/images/favicon.png" rel="icon" type="image/png">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!=='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5HTJJC8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HTJJC8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="base" data-position="0">
  <script src="/files/baguetteBox.min.js"></script>
  <link rel="stylesheet" href="/style/baguetteBox.min.css">
  <link href="/style/materialdesignicons.min.css" rel="stylesheet">
  <link href="/style/index.css" rel="stylesheet">
</section>
<section class="nav" data-position="100">
  <div class="nav nav-component--outer links-top   component-wrapper">
    <div class="links-component--background bg sib"></div>
    <ul class="nav-links logo" style="justify-content: flex-start">
      <li class="brand-name">
        <div class="h-font h3">{{title}}</div>
      </li>
    </ul>
    <label for="drop" class="toggle">Menu</label><input type="checkbox" id="drop">
    <ul class="nav-links" style="justify-content: flex-end;">
      <li><a href="http://www.hipfermenters.com/" class="mdi mdi-beer">HIP Fermenters</a></li>
      <li><a href="http://registration.brewoahu.com/" class="mdi mdi-account-plus upper">Register Now</a></li>
      <li><a href="http://results2018.brewoahu.com/" class="mdi mdi-format-list-numbers">2018 Results</a></li>
      <li><a href="http://www.brewoahu.com/#location" class="mdi mdi-map-marker">Location</a></li>
    </ul>
  </div>
</section>
{{{content}}}
<section class="footer-new" data-position="112">
  <div class="footer footer-component--outer component-wrapper">
    <div class="bg sib "></div>
    <div class="footer-component--inner">
      <div>
        <div style="text-align: center;">
          © 2019 HIP Fermenters
        </div>
      </div>
      <div class="links">
        <a href="http://www.instagram.com/brewoahu/" class="color-black mdi mdi-instagram"></a>
        <a href="https://www.facebook.com/brewoahu" class="color-black mdi mdi-facebook"></a>
      </div>
    </div>
  </div>
</section>
<script src="/files/index.html.js"></script>
<div role="dialog" id="baguetteBox-overlay">
  <div id="baguetteBox-slider"></div>
  <button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button">
    <svg width="44" height="60">
      <polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt"
                fill="none" stroke-linejoin="round"></polyline>
    </svg>
  </button>
  <button type="button" id="next-button" aria-label="Next" class="baguetteBox-button">
    <svg width="44" height="60">
      <polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt"
                fill="none" stroke-linejoin="round"></polyline>
    </svg>
  </button>
  <button type="button" id="close-button" aria-label="Close" class="baguetteBox-button">
    <svg width="30" height="30">
      <g stroke="rgb(160,160,160)" stroke-width="4">
        <line x1="5" y1="5" x2="25" y2="25"></line>
        <line x1="5" y1="25" x2="25" y2="5"></line>
      </g>
    </svg>
  </button>
</div>
</body>
</html>
