*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1024px) {
  html {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}
body {
  margin: 0;
  background: white;
  font-family: Cabin, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bodyColor);
  line-height: 1.5;
}

section {
  overflow-x: hidden;
  position: relative;
}

section * {
  position: relative;
}

section:nth-child(odd) {
  background-color: white;
  color: black;
}

section:nth-child(even) {
  background-color: #ddd;
  color: black;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 0 40px 1.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: none;
  border-bottom: dashed 2px currentcolor;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 90%;
  color: #111;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  padding: calc(1rem * .2) calc(1rem * .4);
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

blockquote {
  font-size: 120%;
  border-left: solid 0.4rem #ddd;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

blockquote :last-child {
  margin-bottom: 0;
}

del {
  color: #ff4136;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
  margin: 2rem 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ins {
  color: #2ecc40;
}

kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 90%;
  color: white;
  background-color: #111;
  border-radius: 0.25rem;
  padding: calc(1rem * .2) calc(1rem * .4);
}

mark {
  color: inherit;
  background-color: #ffdc00;
  padding: calc(1rem * .2) calc(1rem * .4);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

pre {
  max-height: none;
  overflow-y: auto;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: #111;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

small {
  font-size: 80%;
}

dl {
  margin-bottom: 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

ol, ul {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

::placeholder {
  color: #aaa;
}

::selection {
  background-color: #0074d9;
  color: white;
  text-shadow: none !important;
}

/* common styles */
.h-font {
  font-family: Quicksand, sans-serif;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.upper {
  text-transform: uppercase;
}

a.mdi::before {
  margin-right: 0.2em;
}

div.body-text {
  margin: 1.5rem 0;
}

div.footer, div.nav {
  background-color: white;
  color: black;
}

div.footer a, div.nav a {
  color: black;
}

div.bg.sib {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div.bg.sib ~ * {
  z-index: 2;
}

div.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

div.links-top-fixed-background {
  top: 0;
  right: 0;
  left: 0;
}

div.links-top {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.nav-links {
  display: none;
  margin: 0;
  padding: 0;
}

ul.nav-links > li {
  background-color: inherit;
  width: 100%;
}

ul.nav-links > li a {
  display: block;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  line-height: 40px;
}

ul.nav-links > .brand-name {
  text-align: center;
}

.toggle + a {
  display: none;
}

.toggle {
  display: block;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  line-height: 40px;
}

[id^=drop]:checked + ul.nav-links {
  display: block;
}

.join-logo ul.nav-links.logo, ul.nav-links.logo {
  display: block;
}

ul.nav-logo > li.brand-name {
  display: none;
}

[id^=drop] {
  display: none;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }

  .join-logo ul.nav-links.logo {
    display: none;
  }

  ul.nav-logo > li.brand-name {
    display: block;
  }

  div.links-top-fixed-background {
    top: 0;
    right: 0;
    left: 0;
  }

  div.links-top {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  [id^=drop]:checked + ul.nav-links, ul.nav-links {
    padding: 0 0 0 3%;
    flex-direction: row;
    width: 100%;
    align-items: center;
    list-style: none;
    display: flex;
  }

  ul.nav-links.logo {
    display: flex;
  }

  ul.nav-links > li {
    margin-right: 3%;
    width: initial;
  }

  ul.nav-links > li a {
    display: inline-flex;
    vertical-align: middle;
    color: inherit;
    line-height: inherit;
  }

  ul.nav-links > li a:before {
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  ul.nav-links > .brand-name {
    text-align: initial;
  }
}
.hero div.component-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.hero-component--wrapper-fillscreen {
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
}

div.hero-component--wrapper-fitcontent {
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

div.hero-component--fixed-background.bg.sib {
  background-attachment: fixed;
  transform: translateZ(0);
  will-change: transform;
}

div.hero-component--content {
  width: 70%;
  word-wrap: break-word;
}

@media (min-width: 1280px) {
  div.hero-component--wrapper-fillscreen {
    max-height: 60vw;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  div.hero-component--fixed-background.bg.sib {
    background-attachment: scroll;
  }
}
div.map-iframe-wrapper {
  line-height: 0;
  overflow: hidden;
}

div.footer-component--outer {
  padding: 4em 0;
}

div.footer-component--outer > div.footer-component--inner {
  width: 70%;
  margin: auto;
}

div.footer-component--inner > div.links {
  margin: 1rem auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

/*! Buttons */
button, .button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-top-color: #1a1a1a;
  border-bottom-color: black;
  height: 2.25rem;
  line-height: calc(2.25rem - 1px * 2);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 0.75em;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s all;
}
button :hover, .button :hover {
  color: white;
  text-decoration: none;
  background-color: black;
  border-color: black;
  border-top-color: black;
  border-bottom-color: black;
}
button:active, button.active, .button:active, .button.active {
  background-color: black;
  border-color: black;
  border-top-color: black;
}
button:focus, .button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #0000007f;
}
button:disabled, button.disabled, .button:disabled, .button.disabled {
  background-color: black;
  border-top-color: #1a1a1a;
  border-bottom-color: black;
  box-shadow: none;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}
button.button-xs, .button.button-xs {
  font-size: 0.625rem;
  height: 1.25rem;
  line-height: calc(1.25rem - 1px * 2);
}
button.button-sm, .button.button-sm {
  font-size: 0.875rem;
  height: 1.75rem;
  line-height: calc(1.75rem - 1px * 2);
}
button.button-lg, .button.button-lg {
  font-size: 1.25rem;
  height: 2.75rem;
  line-height: calc(2.75rem - 1px * 2);
}
button.button-xl, .button.button-xl {
  font-size: 1.5rem;
  height: 3.25rem;
  line-height: calc(3.25rem - 1px * 2);
}
button.button-secondary, .button.button-secondary {
  color: white;
  background-color: #aaa;
  border-color: #aaa;
  border-top-color: #b3b3b3;
  border-bottom-color: #999999;
}
button.button-secondary:hover, .button.button-secondary:hover {
  color: white;
  background-color: #999999;
  border-color: #999999;
  border-top-color: #aaaaaa;
  border-bottom-color: #888888;
}
button.button-secondary:active, button.button-secondary.active, .button.button-secondary:active, .button.button-secondary.active {
  background-color: #999999;
  border-color: #999999;
  border-top-color: #888888;
}
button.button-secondary:focus, .button.button-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #aaaaaa7f;
}
button.button-secondary:disabled, button.button-secondary.disabled, .button.button-secondary:disabled, .button.button-secondary.disabled {
  background-color: #999999;
  border-top-color: #b3b3b3;
  border-bottom-color: #999999;
  box-shadow: none;
}
button.button-success, .button.button-success {
  color: white;
  background-color: #2ecc40;
  border-color: #2ecc40;
  border-top-color: #43d153;
  border-bottom-color: #29b83a;
}
button.button-success:hover, .button.button-success:hover {
  color: white;
  background-color: #29b83a;
  border-color: #29b83a;
  border-top-color: #2ecc40;
  border-bottom-color: #25a333;
}
button.button-success:active, button.button-success.active, .button.button-success:active, .button.button-success.active {
  background-color: #29b83a;
  border-color: #29b83a;
  border-top-color: #25a333;
}
button.button-success:focus, .button.button-success:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #2ecc407f;
}
button.button-success:disabled, button.button-success.disabled, .button.button-success:disabled, .button.button-success.disabled {
  background-color: #29b83a;
  border-top-color: #43d153;
  border-bottom-color: #29b83a;
  box-shadow: none;
}
button.button-info, .button.button-info {
  color: white;
  background-color: #39cccc;
  border-color: #39cccc;
  border-top-color: #4dd1d1;
  border-bottom-color: #33b8b8;
}
button.button-info:hover, .button.button-info:hover {
  color: white;
  background-color: #33b8b8;
  border-color: #33b8b8;
  border-top-color: #39cccc;
  border-bottom-color: #2ea3a3;
}
button.button-info:active, button.button-info.active, .button.button-info:active, .button.button-info.active {
  background-color: #33b8b8;
  border-color: #33b8b8;
  border-top-color: #2ea3a3;
}
button.button-info:focus, .button.button-info:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #39cccc7f;
}
button.button-info:disabled, button.button-info.disabled, .button.button-info:disabled, .button.button-info.disabled {
  background-color: #33b8b8;
  border-top-color: #4dd1d1;
  border-bottom-color: #33b8b8;
  box-shadow: none;
}
button.button-warning, .button.button-warning {
  color: white;
  background-color: #ff851b;
  border-color: #ff851b;
  border-top-color: #ff9132;
  border-bottom-color: #e67818;
}
button.button-warning:hover, .button.button-warning:hover {
  color: white;
  background-color: #e67818;
  border-color: #e67818;
  border-top-color: #ff851b;
  border-bottom-color: #cc6a16;
}
button.button-warning:active, button.button-warning.active, .button.button-warning:active, .button.button-warning.active {
  background-color: #e67818;
  border-color: #e67818;
  border-top-color: #cc6a16;
}
button.button-warning:focus, .button.button-warning:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #ff851b7f;
}
button.button-warning:disabled, button.button-warning.disabled, .button.button-warning:disabled, .button.button-warning.disabled {
  background-color: #e67818;
  border-top-color: #ff9132;
  border-bottom-color: #e67818;
  box-shadow: none;
}
button.button-danger, .button.button-danger {
  color: white;
  background-color: #ff4136;
  border-color: #ff4136;
  border-top-color: #ff544a;
  border-bottom-color: #e63b31;
}
button.button-danger:hover, .button.button-danger:hover {
  color: white;
  background-color: #e63b31;
  border-color: #e63b31;
  border-top-color: #ff4136;
  border-bottom-color: #cc342b;
}
button.button-danger:active, button.button-danger.active, .button.button-danger:active, .button.button-danger.active {
  background-color: #e63b31;
  border-color: #e63b31;
  border-top-color: #cc342b;
}
button.button-danger:focus, .button.button-danger:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #ff41367f;
}
button.button-danger:disabled, button.button-danger.disabled, .button.button-danger:disabled, .button.button-danger.disabled {
  background-color: #e63b31;
  border-top-color: #ff544a;
  border-bottom-color: #e63b31;
  box-shadow: none;
}
button.button-light, .button.button-light {
  color: #111;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  border-top-color: #e9e9e9;
  border-bottom-color: #cfcfcf;
}
button.button-light:hover, .button.button-light:hover {
  color: #111;
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  border-top-color: #e6e6e6;
  border-bottom-color: #b8b8b8;
}
button.button-light:active, button.button-light.active, .button.button-light:active, .button.button-light.active {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  border-top-color: #b8b8b8;
}
button.button-light:focus, .button.button-light:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(230, 230, 230, 0.5);
}
button.button-light:disabled, button.button-light.disabled, .button.button-light:disabled, .button.button-light.disabled {
  background-color: #cfcfcf;
  border-top-color: #e9e9e9;
  border-bottom-color: #cfcfcf;
  box-shadow: none;
}
button.button-dark, .button.button-dark {
  color: white;
  background-color: color(#111 tint(10%));
  border-color: color(#111 tint(10%));
  border-top-color: #3e3e3e;
  border-bottom-color: #252525;
}
button.button-dark:hover, .button.button-dark:hover {
  color: white;
  background-color: #252525;
  border-color: #252525;
  border-top-color: #292929;
  border-bottom-color: #212121;
}
button.button-dark:active, button.button-dark.active, .button.button-dark:active, .button.button-dark.active {
  background-color: #252525;
  border-color: #252525;
  border-top-color: #212121;
}
button.button-dark:focus, .button.button-dark:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(41, 41, 41, 0.5);
}
button.button-dark:disabled, button.button-dark.disabled, .button.button-dark:disabled, .button.button-dark.disabled {
  background-color: #252525;
  border-top-color: #3e3e3e;
  border-bottom-color: #252525;
  box-shadow: none;
}
button.button-block, .button.button-block {
  width: 100% !important;
  display: block;
}
button.button-link, .button.button-link {
  border-color: transparent;
  background-color: transparent;
  color: black;
  text-decoration: none;
  box-shadow: none;
}
button.button-link:hover, button.button-link:focus, .button.button-link:hover, .button.button-link:focus {
  border-color: transparent;
  background-color: transparent;
  color: black;
  text-decoration: underline;
  box-shadow: none;
}

.button-loader, .button-loader:hover {
  position: relative;
  min-width: calc(1em * 2);
  color: transparent !important;
  overflow: hidden;
}

.button-loader::after {
  content: "";
  position: absolute;
  top: calc(50% - calc(1em / 2));
  left: calc(50% - calc(1em / 2));
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid 0.15em rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
  display: inline-block;
  animation: button-loader 750ms linear infinite;
}

.button-secondary.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

.button-success.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

.button-info.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

.button-warning.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

.button-danger.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

.button-light.button-loader::after {
  border-color: rgba(17, 17, 17, 0.2);
  border-top-color: #111;
  border-left-color: #111;
}

.button-dark.button-loader::after {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: white;
  border-left-color: white;
}

@keyframes button-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.html.css.map */
