/// Slightly lighten a color;
/// @access public;
/// @param {Color} $color - color to tint;
/// @param {Number} $percentage - percentage of `$color` in returned color;
/// @return {Color}
@function tint-color($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color;
/// @access public;
/// @param {Color} $color - color to shade;
/// @param {Number} $percentage - percentage of `$color` in returned color;
/// @return {Color}
@function shade-color($color, $percentage) {
  @return mix(black, $color, $percentage);
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1024px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: .875rem;
  }
}

body {
  margin: 0;
  background: white;
  font-family: Cabin, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bodyColor);
  line-height: 1.5;
}

section {
  overflow-x: hidden;
  position: relative;
}

section * {
  position: relative;
}

section:nth-child(odd) {
  background-color: white;
  color: black;
}

section:nth-child(even) {
  background-color: #ddd;
  color: black;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, sans-serif;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}


figcaption, figure, main {
  display: block;
}

figure {
  margin: 0 40px 1.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: none;
  border-bottom: dashed 2px currentcolor;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 90%;
  color: #111;
  background-color: #f2f2f2;
  border-radius: .25rem;
  padding: calc(1rem * .2) calc(1rem * .4);
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

blockquote {
  font-size: 120%;
  border-left: solid .4rem #ddd;
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

blockquote :last-child {
  margin-bottom: 0;
}

del {
  color: #ff4136;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
  margin: 2rem 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ins {
  color: #2ecc40;
}

kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 90%;
  color: white;
  background-color: #111;
  border-radius: .25rem;
  padding: calc(1rem * .2) calc(1rem * .4);
}

mark {
  color: inherit;
  background-color: #ffdc00;
  padding: calc(1rem * .2) calc(1rem * .4);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

pre {
  max-height: none;
  overflow-y: auto;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: #111;
  background-color: #f2f2f2;
  border-radius: .25rem;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

small {
  font-size: 80%;
}

dl {
  margin-bottom: 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

ol, ul {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

::placeholder {
  color: #aaa;
}

::selection {
  background-color: #0074d9;
  color: white;
  text-shadow: none !important;
}

/* common styles */;

.h-font {
  font-family: Quicksand, sans-serif;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  line-height: 1;
}

.upper {
  text-transform: uppercase;
}

a.mdi::before {
  margin-right: 0.2em;
}

div.body-text {
  margin: 1.5rem 0;
}


div.footer, div.nav {
  background-color: white;
  color: black;
}

div.footer a, div.nav a {
  color: black;
}

div.bg.sib {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div.bg.sib ~ * {
  z-index: 2;
}

div.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

div.links-top-fixed-background {
  top: 0;
  right: 0;
  left: 0;
}

div.links-top {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.nav-links {
  display: none;
  margin: 0;
  padding: 0;
}

ul.nav-links > li {
  background-color: inherit;
  width: 100%;
}

ul.nav-links > li a {
  display: block;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  line-height: 40px;
}

ul.nav-links > .brand-name {
  text-align: center;
}

.toggle + a {
  display: none;
}

.toggle {
  display: block;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  line-height: 40px;
}

[id^=drop]:checked + ul.nav-links {
  display: block;
}

.join-logo ul.nav-links.logo, ul.nav-links.logo {
  display: block;
}

ul.nav-logo > li.brand-name {
  display: none;
}

[id^=drop] {
  display: none;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }

  .join-logo ul.nav-links.logo {
    display: none;
  }

  ul.nav-logo > li.brand-name {
    display: block;
  }

  div.links-top-fixed-background {
    top: 0;
    right: 0;
    left: 0;
  }

  div.links-top {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  [id^=drop]:checked + ul.nav-links, ul.nav-links {
    padding: 0 0 0 3%;
    flex-direction: row;
    width: 100%;
    align-items: center;
    list-style: none;
    display: flex;
  }

  ul.nav-links.logo {
    display: flex;
  }

  ul.nav-links > li {
    margin-right: 3%;
    width: initial;
  }

  ul.nav-links > li a {
    display: inline-flex;
    vertical-align: middle;
    color: inherit;
    line-height: inherit;
  }

  ul.nav-links > li a:before {
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  ul.nav-links > .brand-name {
    text-align: initial;
  }
}

.hero div.component-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.hero-component--wrapper-fillscreen {
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
}

div.hero-component--wrapper-fitcontent {
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

div.hero-component--fixed-background.bg.sib {
  background-attachment: fixed;
  transform: translateZ(0);
  will-change: transform;
}

div.hero-component--content {
  width: 70%;
  word-wrap: break-word;
}

@media (min-width: 1280px) {
  div.hero-component--wrapper-fillscreen {
    max-height: 60vw;
  }
}

@supports (-webkit-overflow-scrolling:touch) {
  div.hero-component--fixed-background.bg.sib {
    background-attachment: scroll;
  }
}

div.map-iframe-wrapper {
  line-height: 0;
  overflow: hidden;
}

div.footer-component--outer {
  padding: 4em 0;
}

div.footer-component--outer > div.footer-component--inner {
  width: 70%;
  margin: auto;
}

div.footer-component--inner > div.links {
  margin: 1rem auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

/*! Buttons */;
button, .button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-top-color: tint-color(black, 10%);
  border-bottom-color: shade-color(black, 10%);
  height: 2.25rem;
  line-height: calc(2.25rem - 1px * 2);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em;
  cursor: pointer;
  display: inline-block;
  transition: .1s all;

  & :hover {
    color: white;
    text-decoration: none;
    background-color: shade-color(black, 10%);
    border-color: shade-color(black, 10%);
    border-top-color: tint-color(black, 0%);
    border-bottom-color: shade-color(black, 20%);
  }

  &:active,
  &.active {
    background-color: shade-color(black, 10%);
    border-color: shade-color(black, 10%);
    border-top-color: shade-color(black, 20%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #0000007f;
  }

  &:disabled,
  &.disabled {
    background-color: shade-color(black, 10%);
    border-top-color: tint-color(black, 10%);
    border-bottom-color: shade-color(black, 10%);
    box-shadow: none;
    text-decoration: none;
    opacity: .5;
    cursor: not-allowed;
  }

  &.button-xs {
    font-size: .625rem;
    height: 1.25rem;
    line-height: calc(1.25rem - 1px * 2);
  }

  &.button-sm {
    font-size: .875rem;
    height: 1.75rem;
    line-height: calc(1.75rem - 1px * 2);
  }

  &.button-lg {
    font-size: 1.25rem;
    height: 2.75rem;
    line-height: calc(2.75rem - 1px * 2);
  }

  &.button-xl {
    font-size: 1.5rem;
    height: 3.25rem;
    line-height: calc(3.25rem - 1px * 2);
  }

  &.button-secondary {
    color: white;
    background-color: #aaa;
    border-color: #aaa;
    border-top-color: tint-color(#aaa, 10%);
    border-bottom-color: shade-color(#aaa, 10%);

    &:hover {
      color: white;
      background-color: shade-color(#aaa, 10%);
      border-color: shade-color(#aaa, 10%);
      border-top-color: tint-color(#aaa, 0%);
      border-bottom-color: shade-color(#aaa, 20%);
    }

    &:active,
    &.active {
      background-color: shade-color(#aaa, 10%);
      border-color: shade-color(#aaa, 10%);
      border-top-color: shade-color(#aaa, 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #aaaaaa7f;
    }

    &:disabled,
    &.disabled {
      background-color: shade-color(#aaa, 10%);
      border-top-color: tint-color(#aaa, 10%);
      border-bottom-color: shade-color(#aaa, 10%);
      box-shadow: none;
    }
  }

  &.button-success {
    color: white;
    background-color: #2ecc40;
    border-color: #2ecc40;
    border-top-color: tint-color(#2ecc40, 10%);
    border-bottom-color: shade-color(#2ecc40, 10%);

    &:hover {
      color: white;
      background-color: shade-color(#2ecc40, 10%);
      border-color: shade-color(#2ecc40, 10%);
      border-top-color: tint-color(#2ecc40, 0%);
      border-bottom-color: shade-color(#2ecc40, 20%);
    }

    &:active,

    &.active {
      background-color: shade-color(#2ecc40, 10%);
      border-color: shade-color(#2ecc40, 10%);
      border-top-color: shade-color(#2ecc40, 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #2ecc407f;
    }

    &:disabled,

    &.disabled {
      background-color: shade-color(#2ecc40, 10%);
      border-top-color: tint-color(#2ecc40, 10%);
      border-bottom-color: shade-color(#2ecc40, 10%);
      box-shadow: none;
    }
  }

  &.button-info {
    color: white;
    background-color: #39cccc;
    border-color: #39cccc;
    border-top-color: tint-color(#39cccc, 10%);
    border-bottom-color: shade-color(#39cccc, 10%);

    &:hover {
      color: white;
      background-color: shade-color(#39cccc, 10%);
      border-color: shade-color(#39cccc, 10%);
      border-top-color: tint-color(#39cccc, 0%);
      border-bottom-color: shade-color(#39cccc, 20%);
    }

    &:active,

    &.active {
      background-color: shade-color(#39cccc, 10%);
      border-color: shade-color(#39cccc, 10%);
      border-top-color: shade-color(#39cccc, 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #39cccc7f;
    }

    &:disabled,

    &.disabled {
      background-color: shade-color(#39cccc, 10%);
      border-top-color: tint-color(#39cccc, 10%);
      border-bottom-color: shade-color(#39cccc, 10%);
      box-shadow: none;
    }
  }

  &.button-warning {
    color: white;
    background-color: #ff851b;
    border-color: #ff851b;
    border-top-color: tint-color(#ff851b, 10%);
    border-bottom-color: shade-color(#ff851b, 10%);

    &:hover {
      color: white;
      background-color: shade-color(#ff851b, 10%);
      border-color: shade-color(#ff851b, 10%);
      border-top-color: tint-color(#ff851b, 0%);
      border-bottom-color: shade-color(#ff851b, 20%);
    }

    &:active,
    &.active {
      background-color: shade-color(#ff851b, 10%);
      border-color: shade-color(#ff851b, 10%);
      border-top-color: shade-color(#ff851b, 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #ff851b7f;
    }

    &:disabled,
    &.disabled {
      background-color: shade-color(#ff851b, 10%);
      border-top-color: tint-color(#ff851b, 10%);
      border-bottom-color: shade-color(#ff851b, 10%);
      box-shadow: none;
    }
  }

  &.button-danger {
    color: white;
    background-color: #ff4136;
    border-color: #ff4136;
    border-top-color: tint-color(#ff4136, 10%);
    border-bottom-color: shade-color(#ff4136, 10%);

    &:hover {
      color: white;
      background-color: shade-color(#ff4136, 10%);
      border-color: shade-color(#ff4136, 10%);
      border-top-color: tint-color(#ff4136, 0%);
      border-bottom-color: shade-color(#ff4136, 20%);
    }

    &:active,
    &.active {
      background-color: shade-color(#ff4136, 10%);
      border-color: shade-color(#ff4136, 10%);
      border-top-color: shade-color(#ff4136, 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #ff41367f;
    }

    &:disabled,

    &.disabled {
      background-color: shade-color(#ff4136, 10%);
      border-top-color: tint-color(#ff4136, 10%);
      border-bottom-color: shade-color(#ff4136, 10%);
      box-shadow: none;
    }
  }

  &.button-light {
    color: #111;
    background-color: shade-color(white, 10%);
    border-color: shade-color(white, 10%);
    border-top-color: tint-color(shade-color(white, 10%), 10%);
    border-bottom-color: shade-color(shade-color(white, 10%), 10%);

    &:hover {
      color: #111;
      background-color: shade-color(shade-color(white, 10%), 10%);
      border-color: shade-color(shade-color(white, 10%), 10%);
      border-top-color: tint-color(shade-color(white, 10%), 0%);
      border-bottom-color: shade-color(shade-color(white, 10%), 20%);
    }

    &:active,
    &.active {
      background-color: shade-color(shade-color(white, 10%), 10%);
      border-color: shade-color(shade-color(white, 10%), 10%);
      border-top-color: shade-color(shade-color(white, 10%), 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(shade-color(white, 10%), 50%);
    }

    &:disabled,
    &.disabled {
      background-color: shade-color(shade-color(white, 10%), 10%);
      border-top-color: tint-color(shade-color(white, 10%), 10%);
      border-bottom-color: shade-color(shade-color(white, 10%), 10%);
      box-shadow: none;
    }
  }

  &.button-dark {
    color: white;
    background-color: color(#111 tint(10%));
    border-color: color(#111 tint(10%));
    border-top-color: tint-color(tint-color(#111, 10%), 10%);
    border-bottom-color: shade-color(tint-color(#111, 10%), 10%);

    &:hover {
      color: white;
      background-color: shade-color(tint-color(#111, 10%), 10%);
      border-color: shade-color(tint-color(#111, 10%), 10%);
      border-top-color: tint-color(tint-color(#111, 10%), 0%);
      border-bottom-color: shade-color(tint-color(#111, 10%), 20%);
    }

    &:active,
    &.active {
      background-color: shade-color(tint-color(#111, 10%), 10%);
      border-color: shade-color(tint-color(#111, 10%), 10%);
      border-top-color: shade-color(tint-color(#111, 10%), 20%);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(tint-color(#111, 10%), 50%);
    }

    &:disabled,
    &.disabled {
      background-color: shade-color(tint-color(#111, 10%), 10%);
      border-top-color: tint-color(tint-color(#111, 10%), 10%);
      border-bottom-color: shade-color(tint-color(#111, 10%), 10%);
      box-shadow: none;
    }
  }

  &.button-block {
    width: 100% !important;
    display: block;
  }

  &.button-link {
    border-color: transparent;
    background-color: transparent;
    color: black;
    text-decoration: none;
    box-shadow: none;
  }

  &.button-link:hover,
  &.button-link:focus {
    border-color: transparent;
    background-color: transparent;
    color: black;
    text-decoration: underline;
    box-shadow: none;
  }
}

.button-loader, .button-loader:hover {
  position: relative;
  min-width: calc(1em * 2);
  color: transparent !important;
  overflow: hidden;
}

.button-loader::after {
  content: '';
  position: absolute;
  top: calc(50% - calc(1em / 2));
  left: calc(50% - calc(1em / 2));
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid .15em rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
  display: inline-block;
  animation: button-loader 750ms linear infinite;
}

.button-secondary.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

.button-success.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

.button-info.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

.button-warning.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

.button-danger.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

.button-light.button-loader::after {
  border-color: rgba(#111, 20%);
  border-top-color: #111;
  border-left-color: #111;
}

.button-dark.button-loader::after {
  border-color: rgba(white, 20%);
  border-top-color: white;
  border-left-color: white;
}

@keyframes button-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
